@model ArvitumNew.Areas.Identity.Models.ChangePersonPasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Изменение пароля для пользователя @Model.Name (@Model.Email)</h2>
<form asp-action="ChangePersonPassword" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <!--<input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Email" />-->
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    @*<div class="form-group">
        <label asp-for="Year" class="control-label">Год рождения</label>
        <input type="number" asp-for="Year" class="form-control" />
    </div>*@
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label">Старый пароль</label>
        <input type="text" asp-for="OldPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <table class="table-condensed">
            <tr>
                <td><input type="submit" name="ActionType" value="Сохранить" class="btn btn-default" /></td>
                @if (Model.EmailConfirmed == false)
                {
                    <td align="right">
                        <input name="outputEmail" type="radio" value="ConfirmationEmail" />
                        <span><font color="#0000FF">Отправить письмо для подтверждения Вашего Email</font></span>
                        <input type="submit" name="ActionType" value="Отправить" class="btn btn-default" />
                    </td>
                }
            </tr>
        </table>
    </div>
</form>
