@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Arvitum</title>
<style>
    #container {
        position: relative;
        width: auto;
        height: auto;
        border: 0px solid #ccc;
        padding: 0px;
    }
</style>

<div id="container">
    <img src=~/images/logo.jpg />
</div>
